.todoDone{
    border:2px solid #f2f3e6;
    background: #a4d5a6;
    border-radius: 10px;
    width:96%;
    margin: 10px 2% 10px 2%;
}
.todoUndone{
border:2px solid #f2f3e6;
    background: #996699;
    border-radius: 10px;
    width:96%;
    margin: 10px 2% 10px 2%;
}
.todoOverdue{
    border:2px solid #f2f3e6;
    background: #c83f71;
    border-radius: 10px;
    width:96%;
    margin: 10px 2% 10px 2%;
}
.list-group-item-head{
    display: grid;
    grid-template-columns: 8% 7% 70% 6% 6%;
}
.list-group-item-head-checkbox{
    border-right: 2px solid #f2f3e6;
}
.checkbox{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-family: "Comic Sans MS", serif;
    margin: 5px 5px 0 0;
}
.list-group-item-head-expend-button{
    position:relative;
    top:3px;
    font-family: "Comic Sans MS", serif;
    border-radius: 5px;
    background: #f2f3e6;
    color: #282c34;
    font-size:20px;
    border-color: #00040e;
    height: 30px;
    width: 25px;
    margin: 2px 0 0 10px;
}
.list-group-item-head-name{
    font-family: "Comic Sans MS", serif;
    height: 23px;
    border-color: #00040e;
    width:75%;
    font-size:15px;
    border-radius: 5px;
    margin: 10px 0 5% 10px;
}
.redact {
    position:relative;
    top:3px;
    font-family: "Comic Sans MS", serif;
    border-radius: 5px;
    background: #f2f3e6;
    color: #282c34;
    font-size:15px;
    border-color: #00040e;
    height: 30px;
    width: 30px;
    margin: 2px 0 0 10px;

}
.close{
    position:relative;
    top:3px;
    font-family: "Comic Sans MS", serif;
    border-radius: 5px;
    background: #f2f3e6;
    color: #282c34;
    font-size:15px;
    border-color: #00040e;
    height: 30px;
    width: 30px;
    margin: 2px 0 0 10px;

}
.list-group-item-body{
    border-top: 2px solid #f2f3e6;
}
.list-group-item-body-description{
    font-family: "Comic Sans MS", serif;
    overflow:auto;
    margin: 20px 5% 20px 5%;
    width:90%;
    height: 100%;
    border-radius: 5px;
    font-size:12px;
}
.list-group-item-body-other{
    border-top: 2px solid #f2f3e6;
    display: grid;
    grid-template-columns: 40% 60%;
}
.list-group-item-body-other-timeData{
    display: grid;
    grid-template-rows: 50% 50%;
}
.list-group-item-body-other-importance{
    font-family: "Comic Sans MS", serif;
    overflow:auto;
    margin: 10px 5% 10px 5%;
    width:90%;
    height: 100%;
    border-radius: 5px;
    font-size:12px;
}
.list-group-item-body-other-timeDateToComplete{
    margin: 10px 5% 0 5%;
    font-family: "Comic Sans MS", serif;
    width:90%;
    height: 100%;
    border-radius: 5px;
    font-size:12px;
}
.list-group-item-body-other-timeExecuted{
    font-family: "Comic Sans MS", serif;
    margin: 5px 5% 5px 5%;
    width:90%;
    height: 100%;
    border-radius: 5px;
    font-size:12px;
}